$primary: #bda498;
$primary-dark: #897872;
$white: #ffffff;

$font-light: white;
$font-dark: black;
$font-grey: #778;

$border-light: white;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$background-light: white;
$background-light-grey: #eee;
$background-grey: #a7a7a7;
$background-dark-grey: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;
